Repository sandorex/extract-browser-data.py, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, firefox, chromium

Modifying docker builder
  .github/workflows/docker.yml
  docker/entrypoint.sh
Labels: CI

Adding other tests to the CI and finally using the docker image
  .github/workflows/ci.yml
  docker-compose.yml
  docker/executioner
  docker/firefox/crash-detection
  docker/firefox/general
  docker/firefox/reading
  docker/firefox/state-detection
  docker/firefox/update-profile
  docker/firefox/writing
  docker/globals
Labels: CI

Fixing docker permission error
  docker/entrypoint.sh
Labels: CI

CI now pulls images from quay.io instead of building them
  .github/workflows/ci.yml
Labels: CI

Fixing a formatting mistake in ci.yml
  .github/workflows/ci.yml
Labels: CI

Removing a damn tab character
  .github/workflows/ci.yml
Labels: CI

Adding chromium tests
  .github/workflows/ci.yml
  docker-compose.yml
  docker/chromium/crash-detection
  docker/chromium/general
  docker/chromium/reading
  docker/chromium/state-detection
  docker/chromium/writing
  docker/firefox/crash-detection
  docker/firefox/state-detection
  docker/firefox/update-profile
  docker/firefox/writing
  docker/globals
  extract_browser_data/__util_unix.py
  extract_browser_data/chromium/_functions_unix.py
  extract_browser_data/chromium/functions.py
  extract_browser_data/chromium/profile.py
  extract_browser_data/common.py
  extract_browser_data/firefox/functions.py
  extract_browser_data/firefox/profile.py
  extract_browser_data/util.py
  setup.cfg
  tests/chromium/test_detection.py
  tests/test_smoke.py
Labels: tests, CI, firefox, chromium

Renaming test modules so they have unique names
  docker/chromium/crash-detection
  docker/chromium/state-detection
  docker/firefox/crash-detection
  docker/firefox/state-detection
  tests/chromium/test_ch_detection.py
  tests/firefox/test_ff_detection.py
Labels: tests, CI, firefox, chromium

Sharing state detection code between browsers, added windows code
  docker/executioner
  extract_browser_data/_functions_unix.py
  extract_browser_data/_functions_win32.py
  extract_browser_data/chromium/_functions_unix.py
  extract_browser_data/chromium/_functions_win32.py
  extract_browser_data/chromium/files.py
  extract_browser_data/chromium/functions.py
  extract_browser_data/firefox/_functions_win32.py
  extract_browser_data/firefox/files.py
  extract_browser_data/firefox/functions.py
  extract_browser_data/functions.py
  extract_browser_data/util.py
Labels: CI, firefox, chromium

Changing disabled warnings in pylint
  pylintrc
Labels: none

Preparing for os specific tests
  extract_browser_data/firefox/_functions_unix.py
  pylintrc
  tests/conftest.py
Labels: tests, firefox

Adding browser classes back
  extract_browser_data/browsers/__init__.py
  extract_browser_data/browsers/browser.py
  extract_browser_data/browsers/chromium.py
  extract_browser_data/browsers/chromium_variants/__init__.py
  extract_browser_data/browsers/chromium_variants/brave.py
  extract_browser_data/browsers/chromium_variants/edge.py
  extract_browser_data/browsers/firefox.py
Labels: none

Restricting GA to master branch only
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Labels: CI

.github/labeler.yml:

tests: 'tests/**/*'

CI:
  - '.github/workflows/**/*'
  - 'docker/**/*'

firefox:
  - 'extract_browser_data/firefox/**/*'
  - 'tests/firefox/**/*'
  
chromium:
  - 'extract_browser_data/chromium/**/*'
  - 'tests/chromium/**/*'
